<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.LucasFBLA2025BankingApp"
            tools:targetApi="31">

        <!-- Login Activity -->
        <activity
                android:name=".LoginActivity"
                android:exported="true"
                android:theme="@style/Theme.LucasFBLA2025BankingApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Admin Dashboard Activity -->
        <activity android:name=".AdminDashboardActivity"
                  android:exported="true"
                  android:theme="@style/Theme.LucasFBLA2025BankingApp"/>

        <!-- User Dashboard Activity -->
        <activity android:name=".UserDashboardActivity"
                  android:exported="true"
                  android:theme="@style/Theme.LucasFBLA2025BankingApp"/>

        <!-- Finances Activity -->
        <activity android:name=".FinancesActivity"
                  android:exported="true"
                  android:theme="@style/Theme.LucasFBLA2025BankingApp"/>

        <!-- Settings Activity -->
        <activity android:name=".SettingsActivity"
                  android:exported="true"
                  android:theme="@style/Theme.LucasFBLA2025BankingApp"/>

    </application>
</manifest>
